dalam node red
[
    {
        "id": "dc75ee11d23164b1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0014412cf5963313",
        "type": "mqtt in",
        "z": "dc75ee11d23164b1",
        "name": "",
        "topic": "hana/suhu",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cbe34d2ed0f9d97f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 120,
        "wires": [
            [
                "a3dcadabff3a4251",
                "0bcd464e34ee2977",
                "ec0c414752a1d387"
            ]
        ]
    },
    {
        "id": "a3dcadabff3a4251",
        "type": "ui_gauge",
        "z": "dc75ee11d23164b1",
        "name": "",
        "group": "bdb8ce597b14b15b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Suhu Air",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "125",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "27",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 20,
        "wires": []
    },
    {
        "id": "cf9d90a6871cd4aa",
        "type": "ui_audio",
        "z": "dc75ee11d23164b1",
        "name": "",
        "group": "bdb8ce597b14b15b",
        "voice": "Google Bahasa Indonesia",
        "always": "",
        "x": 1080,
        "y": 420,
        "wires": []
    },
    {
        "id": "0bcd464e34ee2977",
        "type": "switch",
        "z": "dc75ee11d23164b1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "27",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "17c4eeea4682b70b",
                "5c1f1e883bab53b2"
            ]
        ]
    },
    {
        "id": "5c1f1e883bab53b2",
        "type": "function",
        "z": "dc75ee11d23164b1",
        "name": "function 1",
        "func": "msg.payload =\"suhu rendah\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 300,
        "wires": [
            [
                "cf9d90a6871cd4aa"
            ]
        ]
    },
    {
        "id": "e3ee73a518d01f51",
        "type": "ui_button",
        "z": "dc75ee11d23164b1",
        "name": "",
        "group": "bdb8ce597b14b15b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tekan saya",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "hanis shazana",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 420,
        "wires": [
            [
                "cf9d90a6871cd4aa"
            ]
        ]
    },
    {
        "id": "17c4eeea4682b70b",
        "type": "trigger",
        "z": "dc75ee11d23164b1",
        "name": "",
        "op1": "suhu rendah",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 730,
        "y": 200,
        "wires": [
            [
                "e67f730666fa67b1"
            ]
        ]
    },
    {
        "id": "e67f730666fa67b1",
        "type": "function",
        "z": "dc75ee11d23164b1",
        "name": "function 2",
        "func": "msg.payload = {}\nmsg.payload.chatID=\"54509066\"\nmsg.payload.type = \"message\"\nmsg.payload.content = \"saya dalam masalah hubungi saya\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 200,
        "wires": [
            [
                "6f16ef8e4db80495"
            ]
        ]
    },
    {
        "id": "6f16ef8e4db80495",
        "type": "telegram sender",
        "z": "dc75ee11d23164b1",
        "name": "KVBP",
        "bot": "8d2dfb4019bce415",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1130,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ec0c414752a1d387",
        "type": "ui_chart",
        "z": "dc75ee11d23164b1",
        "name": "",
        "group": "bdb8ce597b14b15b",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "cbe34d2ed0f9d97f",
        "type": "mqtt-broker",
        "name": "hanisfitri hivemq",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bdb8ce597b14b15b",
        "type": "ui_group",
        "name": "Kolam udang Galah",
        "tab": "5cbdd93d4fd07fae",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d2dfb4019bce415",
        "type": "telegram bot",
        "botname": "KolamUdangGalahBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "addressfamily": "",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "5cbdd93d4fd07fae",
        "type": "ui_tab",
        "name": "Kolej Vokasional Balik Pulau",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
